* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    font-family: 'Roboto', sans-serif;
    
}

/* colors */
/* 
main: rgba(24, 196, 24, 0.995);

*/



.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
    "aside nav nav"
    "aside main main"
    "aside main main";
    

}

/* SIDEBAR */

aside {
    grid-area: aside;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background: rgba(24, 196, 24, 0.995);
}

.main-logo {
    border-radius: 25%;
    height: 10rem;
}

aside a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.3s;
}

.actions-top a:hover,
.actions-top a:active {
    border: 2px solid;
}

.actions-top a {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 1rem;
    padding:0.5rem;
    border-radius: 2rem;
}

.actions-btm a {
    color: rgba(255, 255, 255, 0.614);
    font-size: 16px;
    font-weight: 400;
    margin: 0.2rem;
}

.actions-btm a:hover,
.actions-btm a:active {
    border-bottom: 2px solid;
}

/* navigation section */
nav {
    grid-area: nav;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

.navbar input {
    width: 20rem;
    height: 3rem;
    margin: 0.2rem;
    padding: 0.5rem;
    background: rgb(223, 222, 222);
    border: none;
    border-radius: 2rem;
}



.user {
    width: 40rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-left {
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    border-radius: 50%;
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-right {
    justify-content: end;

}

.social-buttons {
    display: flex;
    margin: auto;
    gap: 3rem;
    justify-content: center;
    
}

.btn-primary {
    font-size: 1rem;
    font-weight: 500;
    background: rgba(24, 196, 24, 0.995);
    padding: 0.5rem 2rem;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

/* Main area / Articles */

main { 
    grid-area: main;
    background: rgb(229, 229, 229);
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;

}

.feed-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    height: 100%;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px black;
    box-shadow: 1px 8px 10px 1px #cbcaca;
    
}

.article {
    border-left: 1rem solid rgba(24, 196, 24, 0.862);
}

.trending {
    display: grid;
    padding: 1rem;
    gap: 1rem;
}


